.navbar-default {
    background: -webkit-linear-gradient(to right, #00c9fd , #81ee8e)!important;
    background: linear-gradient(to right, #00c9fd , #81ee8e)!important;
    box-shadow: 0 0 20px -10px rgb(0 0 0 / 80%)!important;
    padding: 10px 0!important;
    width: 100%!important;
}
.allquestion{
    padding-top: 150px;
}
.secondSec{
    padding-bottom: 30px;
}
.allQuestionBtn{
    text-align: center;
    margin: 20px 0;
}