/* Global CSS */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Fjalla One", arial, sans-serif !important;
}

p,
a,
button,
input,
ul,
li,
span {
    font-family: "Source Sans Pro", arial, sans-serif !important;
}

/* Global CSS END */

header {
    padding: 24px 0;
    border-bottom: 1px solid #b9b5b534;
    box-shadow: 0 0 1px;
}

#logo {
    text-align: center;
    font-size: 25px;
    font-family: Share, arial, sans-serif !important;
    color: #000000;
    margin-left: 60px;
}

.menu,
.menu-icon,
.search-icon,
.cart-icon,
.user-icon {
    width: 25px;
}

.menu svg,
.menu-icon svg,
.search-icon svg,
.cart-icon svg,
.user-icon svg {
    height: 100%;
    width: 100%;
    color: rgb(117, 35, 45);
    font-size: 24px;
    font-family: "Source Sans Pro", arial, sans-serif;
    cursor: pointer;
}

.main-border {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
}

.bottom-border {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 20px solid #EEEEEE;
}

.user-icon {
    position: relative;
}

.user-access {
    position: absolute;
    width: 200px;
    top: 30px;
    right: 0px;
    background-color: #ffffff;
    padding: 5px;
    box-shadow: 0 3px 6px 3px rgb(0 0 0 / 24%);
    z-index: 1;
    display: none;
    border-radius: 3px;
}

.user-access ul li {
    list-style: none;
    padding: 15px;
}

.user-access ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(94, 94, 94);
    font-size: 18px;
}

.user-access ul li a:hover {
    color: #691C26;
}

.all-menu {
    position: absolute;
    background-color: #691C26;
    color: #ffffff;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    display: none;
}

.all-menu ul {
    text-align: center;
    margin-top: 100px;
}

.all-menu ul li {
    list-style: none;
    padding: 15px;
}

.all-menu ul li a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

.close {
    position: absolute;
    top: 50px;
    right: 50px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.close svg {
    height: 100%;
    width: 100%;
}
.activeMenu{
    color: #000000!important;
    font-weight: 600;
}

/* Footer starts */
footer {
    background-color: #EEEEEE;
    color: #595959;
    padding: 30px 0;
    font-family: "Source Sans Pro", arial, sans-serif;
    font-size: 12px;
}

.credit p {
    text-align: right;
    color: #595959;
}

.credit p a {
    text-decoration: none;
    color: #691C26;
}

.credit p a:hover {
    color: #691C26 !important;
}


/* Mobile Responsive code  */

@media screen and (max-width: 1024px) {
    #logo span {
        font-size: 50px;
    }
}

@media screen and (max-width: 1023px) {

    .search-icon,
    .user-icon {
        display: none;
    }

    #logo {
        font-size: 50px;
        margin-left: 0px;
    }
}

@media screen and (max-width: 991px) {
    #mobileMenuIcon {
        display: block;
    }
}

@media all and (max-width: 767px) {
    #logo {
        font-size: 25px;
    }

    .main-border {
        width: 10%;
    }

    /* Footer Code */
    .registered p,
    .credit p {
        text-align: center !important;
    }
}

@media all and (max-width: 240px) {
    .main-border {
        width: 25%;
    }

    /* Footer Code */
    .registered p,
    .credit p {
        font-size: 12px;
    }
}