{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Favicon Icon and Title-->
  <link rel="shortcut icon" href="{% static 'img/favicon-icon.png' %}" type="image/x-icon">
  <title>{% block title %}{% endblock %} | Sales Vizion</title>

  <!-- All FOnts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap and custom CSS -->
  <style>
    html {
      scroll-behavior: smooth;
    }
  </style>
  <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/fonts/font-awesome.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/fonts/themify-icons.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/owl.carousel.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/slick.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/slick-theme.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/animate.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/animate.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/owl.theme.default.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet" />

  <link rel="stylesheet" href="{% static 'assets/css/switcher/switcher.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/switcher/style1.css' %}" id="colors">
  {% block css %}{% endblock %}

</head>

<body>

  <div class="preloader">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
  </div>


  <div class="navbar navbar-default navbar-fixed-top menu-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="{% url 'home' %}" class="navbar-brand"><img style="height: 100%; width: 100%;" src="{% static 'assets/images/logo.png' %}" alt="logo"></a>
      </div>
      <div class="navbar-collapse collapse">
        <nav>
          <div class="nav navbar-nav navbar-right">
            <ul class="nav navbar-nav">
              {% if user.is_authenticated %}
              <li><a href="#about">About</a></li>
              <li><a href="{% url 'profile' %}">Profile</a></li>
              <li><a href="{% url 'question' %}">questions</a></li>
              <li><a href="{% url 'results' %}">Reselts</a></li>
              <li><a href="{% url 'contact' %}">Contact </a></li>
              <li><a href="{% url 'logout' %}">logout </a></li>
              {% else %}
              <li><a href="{% url 'home' %}">Home </a></li>
              <li><a href="/#about">About</a></li>
              <li><a href="{% url 'register' %}">Register</a></li>
              <li><a href="{% url 'login' %}">Login</a></li>
              <li><a href="{% url 'contact' %}">Contact </a></li>
              {% endif %}
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <!-- Global Body Starts -->
  {% block content %}{% endblock %}
  <!-- Global Body Ends -->
  <section id="footer" class="text-center">
    <div class="container">
      <div class="copyrigt_text">
        <p>Copyright &copy; Sales Vizion
          <script>
            document.write(new Date().getFullYear());
          </script> All Rights Riserved | Powered by <a href="https://squaretechit.com/" target="_blank">Square Tech
            IT</a> </p>
      </div>
    </div>
  </section>
  <script src="{% static 'assets/js/jquery-1.12.4.min.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/js/wow.min.js' %}"></script>
  <script src="{% static 'assets/js/slick.min.js' %}"></script>
  <script src="{% static 'assets/js/simplePlayer.js' %}"></script>
  <script src="{% static 'assets/js/switcher.js' %}"></script>
  <script src="{% static 'assets/js/scripts.js' %}"></script>
  {% block js %}{% endblock %}
</body>

</html>