{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Favicon Icon and Title-->
  <link rel="shortcut icon" href="{% static 'img/favicon-icon.png' %}" type="image/x-icon">
  <title>{% block title %}{% endblock %} | Sales Vizion</title>

  <!-- All FOnts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap and custom CSS -->
  <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/fonts/font-awesome.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/fonts/themify-icons.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/owl.carousel.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/slick.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/slick-theme.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/animate.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/animate.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/owl.theme.default.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet" />

  <link rel="stylesheet" href="{% static 'assets/css/switcher/switcher.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/switcher/style1.css' %}" id="colors">
  {% block css %}{% endblock %}

</head>

<body>

  <div class="preloader">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
  </div>


  <div class="navbar navbar-default navbar-fixed-top menu-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="{% url 'home' %}" class="navbar-brand"><img src="{% static 'assets/images/logo.png' %}" alt="logo"></a>
      </div>
      <div class="navbar-collapse collapse">
        <nav>
          <div class="nav navbar-nav navbar-right">
            <ul class="nav navbar-nav">
              <li><a href="{% url 'home' %}">Home </a></li>
              <li><a href="#about">About</a></li>
              <!-- <li><a href="#features">Features</a></li>
              <li><a href="#screenshots">Screenshots </a></li>
              <li><a href="#pricing_table">Pricing </a></li>
              <li><a href="#app_review">Reviews </a></li>
              <li><a href="#blog">Blog </a></li>
              <li><a href="#faq">FAQ</a></li> -->
              <li><a href="{% url 'register' %}">Register</a></li>
              <li><a href="{% url 'login' %}">Login</a></li>
              <li><a href="{% url 'contact' %}">Contact </a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <!-- Global Body Starts -->
  {% block content %}{% endblock %}
  <!-- Global Body Ends -->
  <section id="footer" class="text-center">
    <div class="container">
      <div class="subscribe_form">
        <div class="single_subscribe_content">
          <h3>Subscribe Our Newsletter</h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry
          </p>
        </div>
        <form class="form-inline smain_form text-center" method="post">
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter Email Here">
            <button type="submit" class="btn btn-default"><i class="ti-location-arrow"></i></button>
          </div>
        </form>
      </div>
      <div class="social_link">
        <a href="#">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="#">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="#">
          <i class="fa fa-pinterest"></i>
        </a>
        <a href="#">
          <i class="fa fa-linkedin"></i>
        </a>
      </div>
      <div class="copyrigt_text">
        <p>Copyright &copy; Sales Vizion
          <script>
              document.write(new Date().getFullYear());
          </script> All Rights Riserved | Powered by <a href="https://squaretechit.com/" target="_blank">Square Tech IT</a> </p>
      </div>
    </div>
  </section>


  <div id="style-switcher">
    <h2>Choose Color<a href="#"><i class="fa fa-cog fa-spin"></i></a></h2>
    <div>
      <ul class="colors" id="color1">
        <li><a href="#" class="style1"></a></li>
        <li><a href="#" class="style2"></a></li>
        <li><a href="#" class="style3"></a></li>
        <li><a href="#" class="style4"></a></li>
        <li><a href="#" class="style5"></a></li>
        <li><a href="#" class="style6"></a></li>
        <li><a href="#" class="style7"></a></li>
        <li><a href="#" class="style8"></a></li>
      </ul>
    </div>
  </div>


  <script src="{% static 'assets/js/jquery-1.12.4.min.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/js/wow.min.js' %}"></script>
  <script src="{% static 'assets/js/slick.min.js' %}"></script>
  <script src="{% static 'assets/js/simplePlayer.js' %}"></script>
  <script src="{% static 'assets/js/switcher.js' %}"></script>
  <script src="{% static 'assets/js/scripts.js' %}"></script>
  {% block js %}{% endblock %}
</body>

</html>