{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
<section id="slider_area" class="welcome-area">
  <div id="particles-js"></div>
  <div class="slider_active owl-carousel">
    <div class="single-slide-item">
      <div class="single-slide-item-table">
        <div class="single-slide-item-tablecell">
          <div class="container">
            <div class="row">
              <div class="col-md-7 col-sm-12">
                <div class="single_slide_text">
                  <h1 class="slider_title animated">Perfect Landing Page For Your Awesome App</h1>
                  <p class="slider_subtitle animated">There are many variations of passages of Lorem Ipsum available,
                    but the majority have suffered alteration in some form, by injected humour, or randomised words
                    which.</p>
                  <div class="slider_btn animated">
                    <a href="#" class="btn btn-default google_play"><i class="fa fa-android"></i> Google
                      Play</a>
                    <a href="#" class="btn btn-default app_store"><i class="fa fa-apple"></i> App Store</a>
                  </div>
                </div>
              </div>
              <div class="col-md-5 text-center hidden-sm hidden-xs">
                <div class="slider_image animated">
                  <img src="{% static 'assets/images/slider/slider-1.png' %}" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="single-slide-item">
      <div class="single-slide-item-table">
        <div class="single-slide-item-tablecell">
          <div class="container">
            <div class="row">
              <div class="col-md-7 col-sm-12">
                <div class="single_slide_text">
                  <h1 class="slider_title animated">Perfect Landing Page For Your Awesome App</h1>
                  <p class="slider_subtitle animated">There are many variations of passages of Lorem Ipsum available,
                    but the majority have suffered alteration in some form, by injected humour, or randomised words
                    which.</p>
                  <div class="slider_btn animated">
                    <a href="#" class="btn btn-default google_play"><i class="fa fa-android"></i> Google
                      Play</a>
                    <a href="#" class="btn btn-default app_store"><i class="fa fa-apple"></i> App Store</a>
                  </div>
                </div>
              </div>
              <div class="col-md-5 text-center hidden-sm hidden-xs">
                <div class="slider_image animated">
                  <img src="{% static 'assets/images/slider/slider-1.png' %}" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="single-slide-item">
      <div class="single-slide-item-table">
        <div class="single-slide-item-tablecell">
          <div class="container">
            <div class="row">
              <div class="col-md-7 col-sm-12">
                <div class="single_slide_text">
                  <h1 class="slider_title animated">Perfect Landing Page For Your Awesome App</h1>
                  <p class="slider_subtitle animated">There are many variations of passages of Lorem Ipsum available,
                    but the majority have suffered alteration in some form, by injected humour, or randomised words
                    which.</p>
                  <div class="slider_btn animated">
                    <a href="#" class="btn btn-default google_play"><i class="fa fa-android"></i> Google
                      Play</a>
                    <a href="#" class="btn btn-default app_store"><i class="fa fa-apple"></i> App Store</a>
                  </div>
                </div>
              </div>
              <div class="col-md-5 text-center hidden-sm hidden-xs">
                <div class="slider_image animated">
                  <img src="{% static 'assets/images/slider/slider-1.png' %}" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="about" class="section_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="single_about">
          <div class="about_icon blue">
            <i class="ti-vector"></i>
          </div>
          <div class="sing_about_text">
            <i class="ti-vector"></i>
            <h3>Awesome Design</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro reprehenderit</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="single_about">
          <div class="about_icon blue">
            <i class="ti-settings"></i>
          </div>
          <div class="sing_about_text">
            <i class="ti-settings"></i>
            <h3>Easy To Use</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro reprehenderit</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="single_about">
          <div class="about_icon blue">
            <i class="ti-headphone-alt"></i>
          </div>
          <div class="sing_about_text">
            <i class="ti-headphone-alt"></i>
            <h3>24/7 Support</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro reprehenderit</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="coll_action_section" class="section_padding gray_section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="coll_action_text">
          <span class="cl_title">Get our App</span>
          <h3>Our App is Available</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Pellentesque pharetra ullamcorper luctus. Aliquam ut risus
            venenatis, dapibus ante vel, ornare magna. Morbi erat leo,
            ornare id commodo</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Pellentesque pharetra ullamcorper luctus. Aliquam ut risus
            venenatis, dapibus ante vel, ornare magna.</p>
          <div class="coll_action_btn">
            <a href="#" class="appbutton"><i class="fa fa-apple"></i> App Store</a>
            <a href="#" class="appbutton"><i class="fa fa-android"></i> Play Store</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 hidden-xs">
        <img src="{% static 'assets/images/download.png' %}" class="img-responsive" alt="Download Image">
      </div>
    </div>
  </div>
</section>


<section id="features" class="section_padding">
  <div class="container">
    <div class="section_heading text-center">
      <h2>Awesome Features</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque<br> pharetra ullamcorper luctus</p>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="single_feature">
          <div class="feature_icon">
            <i class="ti-vector"></i>
          </div>
          <div class="sing_feature_text">
            <h3>Awesome Design</h3>
            <div class="border_line"></div>
            <p>
              Lorem Ipsum is simply dummy text of the printing
              and typesetting industry. Lorem Ipsum has been the
              industry's
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="single_feature">
          <div class="feature_icon">
            <i class="ti-settings"></i>
          </div>
          <div class="sing_feature_text">
            <h3>Easy To Use</h3>
            <div class="border_line"></div>
            <p>
              Lorem Ipsum is simply dummy text of the printing
              and typesetting industry. Lorem Ipsum has been the
              industry's
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="single_feature">
          <div class="feature_icon">
            <i class="ti-mobile"></i>
          </div>
          <div class="sing_feature_text">
            <h3>Responsive Design</h3>
            <div class="border_line"></div>
            <p>
              Lorem Ipsum is simply dummy text of the printing
              and typesetting industry. Lorem Ipsum has been the
              industry's
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="single_feature">
          <div class="feature_icon">
            <i class="ti-bell"></i>
          </div>
          <div class="sing_feature_text">
            <h3>Update Notification</h3>
            <div class="border_line"></div>
            <p>
              Lorem Ipsum is simply dummy text of the printing
              and typesetting industry. Lorem Ipsum has been the
              industry's
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="single_feature">
          <div class="feature_icon">
            <i class="ti-zip"></i>
          </div>
          <div class="sing_feature_text">
            <h3>Fress Code</h3>
            <div class="border_line"></div>
            <p>
              Lorem Ipsum is simply dummy text of the printing
              and typesetting industry. Lorem Ipsum has been the
              industry's
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="single_feature">
          <div class="feature_icon">
            <i class="ti-headphone-alt"></i>
          </div>
          <div class="sing_feature_text">
            <h3>24/7 Support</h3>
            <div class="border_line"></div>
            <p>
              Lorem Ipsum is simply dummy text of the printing
              and typesetting industry. Lorem Ipsum has been the
              industry's
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="screenshots" class="section_padding gray_section">
  <div class="container">
    <div class="section_heading text-center">
      <h2>App Screenshots</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque<br> pharetra ullamcorper luctus</p>
    </div>
    <div class="app_screens_slider">
      <div class="single_screenshot">
        <img src="{% static 'assets/images/screenshots/1.jpg' %}" alt="" />
      </div>
      <div class="single_screenshot">
        <img src="{% static 'assets/images/screenshots/2.jpg' %}" alt="" />
      </div>
      <div class="single_screenshot">
        <img src="{% static 'assets/images/screenshots/3.jpg' %}" alt="" />
      </div>
      <div class="single_screenshot">
        <img src="{% static 'assets/images/screenshots/4.jpg' %}" alt="" />
      </div>
      <div class="single_screenshot">
        <img src="{% static 'assets/images/screenshots/5.jpg' %}" alt="" />
      </div>
      <div class="single_screenshot">
        <img src="{% static 'assets/images/screenshots/1.jpg' %}" alt="" />
      </div>
      <div class="single_screenshot">
        <img src="{% static 'assets/images/screenshots/2.jpg' %}" alt="" />
      </div>
    </div>
  </div>
</section>


<section id="promo_area" class="section_padding">
  <div class="container">
    <div class="section_heading text-center">
      <h2>How it works</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque<br> pharetra ullamcorper luctus</p>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12 hidden-xs text-center">
        <div class="promo_img">
          <img src="{% static 'assets/images/mobile.png' %}" class="img-responsive" alt="Mobile Image">
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="single_promo">
          <div class="promo_icon">
            <i class="ti-mobile"></i>
          </div>
          <div class="promo_details">
            <h3>Clean and Modern Design</h3>
            <p>
              Anim pariatur cliche reprehenderit,
              enim eiusmod high life accusamus terry
              richardson ad squid. 3 wolf moon officia
              aute, non cupidatat skateboard dolor
              brunch.
            </p>
          </div>
        </div>
        <div class="single_promo">
          <div class="promo_icon">
            <i class="ti-target"></i>
          </div>
          <div class="promo_details">
            <h3>Smoth Transition</h3>
            <p>
              Anim pariatur cliche reprehenderit,
              enim eiusmod high life accusamus terry
              richardson ad squid. 3 wolf moon officia
              aute, non cupidatat skateboard dolor
              brunch.
            </p>
          </div>
        </div>
        <div class="single_promo">
          <div class="promo_icon">
            <i class="ti-user"></i>
          </div>
          <div class="promo_details">
            <h3>User Friendly</h3>
            <p>
              Anim pariatur cliche reprehenderit,
              enim eiusmod high life accusamus terry
              richardson ad squid. 3 wolf moon officia
              aute, non cupidatat skateboard dolor
              brunch.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="pricing_table" class="section_padding gray_section">
  <div class="container">
    <div class="section_heading text-center">
      <h2>Pricing Table</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque<br> pharetra ullamcorper luctus</p>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="pricingTable">
          <div class="price">
            <h3 class="heading">Standard</h3>
            <span class="price-value">$100</span>
            <span class="month">monthly</span>
          </div>
          <div class="pricingContent">
            <ul>
              <li><i class="ti-check"></i> 50GB Disk Space</li>
              <li><i class="ti-check"></i> 50 Email Accounts</li>
              <li><i class="ti-check"></i> 10 subdomains</li>
              <li><i class="ti-check"></i> 15 Domains</li>
            </ul>
          </div>
          <div class="pricingTable-signup">
            <a href="#" class="appbutton">Order Now</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="pricingTable">
          <div class="price">
            <h3 class="heading">Business</h3>
            <span class="price-value">$150</span>
            <span class="month">monthly</span>
          </div>
          <div class="pricingContent">
            <ul>
              <li><i class="ti-check"></i> 50GB Disk Space</li>
              <li><i class="ti-check"></i> 50 Email Accounts</li>
              <li><i class="ti-check"></i> 10 subdomains</li>
              <li><i class="ti-check"></i> 15 Domains</li>
            </ul>
          </div>
          <div class="pricingTable-signup">
            <a href="#" class="appbutton">Order Now</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="pricingTable">
          <div class="price">
            <h3 class="heading">Premium</h3>
            <span class="price-value">$200</span>
            <span class="month">monthly</span>
          </div>
          <div class="pricingContent">
            <ul>
              <li><i class="ti-check"></i> 50GB Disk Space</li>
              <li><i class="ti-check"></i> 50 Email Accounts</li>
              <li><i class="ti-check"></i> 10 subdomains</li>
              <li><i class="ti-check"></i> 15 Domains</li>
            </ul>
          </div>
          <div class="pricingTable-signup">
            <a href="#" class="appbutton">Order Now</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="pricingTable">
          <div class="price">
            <h3 class="heading">Platinum</h3>
            <span class="price-value">$300</span>
            <span class="month">monthly</span>
          </div>
          <div class="pricingContent">
            <ul>
              <li><i class="ti-check"></i> 50GB Disk Space</li>
              <li><i class="ti-check"></i> 50 Email Accounts</li>
              <li><i class="ti-check"></i> 10 subdomains</li>
              <li><i class="ti-check"></i> 15 Domains</li>
            </ul>
          </div>
          <div class="pricingTable-signup">
            <a href="#" class="appbutton">Order Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="video_section section_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div data-video="NwkrgpjHOEA" id="video" class="video_area">
          <img src="{% static 'assets/images/video.png' %}" alt="Video Screenshot">
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="video_content text-left">
          <h3>Promo Video</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing
            elit. Sed vel blandit ante. Aliquam nulla lacus,
            lobortis sed diam in, ultricies sagittis lacus.
            In posuere porttitor erat, ut hendrerit enim egestas
            eu. Nunc id tellus eget enim euismod semper
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing
            elit. Sed vel blandit ante. Aliquam nulla lacus,
            lobortis sed diam in, ultricies .
          </p>
          <a href="#" class="appbutton">Watch Video</a>
        </div>
      </div>
    </div>
  </div>
</div>


<section id="app_review" class="section_padding gray_section">
  <div class="container">
    <div class="section_heading text-center">
      <h2>Our Clients Say</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque<br> pharetra ullamcorper luctus</p>
    </div>
    <div class="row text-center">
      <div class="col-sm-12">
        <div class="review_slider owl-carousel">
          <div class="testimonial">
            <div class="pic">
              <img src="{% static 'assets/images/testimonial/1.jpg' %}" alt="">
            </div>
            <p class="description">
              " Lorem ipsum dolor sit amet, consectetur adipisicing
              elit. Autem commodi eligendi facilis itaque minus non odio quaerat "
            </p>
            <h3 class="testimonial-title">williamson</h3>
            <span class="post">Web Developer</span>
            <i class="ti-quote-right"></i>
          </div>
          <div class="testimonial">
            <div class="pic">
              <img src="{% static 'assets/images/testimonial/2.jpg' %}" alt="">
            </div>
            <p class="description">
              " Lorem ipsum dolor sit amet, consectetur adipisicing
              elit. Autem commodi eligendi facilis itaque minus non odio quaerat "
            </p>
            <h3 class="testimonial-title">Kristina</h3>
            <span class="post">Web Developer</span>
            <i class="ti-quote-right"></i>
          </div>
          <div class="testimonial">
            <div class="pic">
              <img src="{% static 'assets/images/testimonial/3.jpg' %}" alt="">
            </div>
            <p class="description">
              " Lorem ipsum dolor sit amet, consectetur adipisicing
              elit. Autem commodi eligendi facilis itaque minus non odio quaerat "
            </p>
            <h3 class="testimonial-title">williamson</h3>
            <span class="post">Web Developer</span>
            <i class="ti-quote-right"></i>
          </div>
          <div class="testimonial">
            <div class="pic">
              <img src="{% static 'assets/images/testimonial/1.jpg' %}" alt="">
            </div>
            <p class="description">
              " Lorem ipsum dolor sit amet, consectetur adipisicing
              elit. Autem commodi eligendi facilis itaque minus non odio quaerat "
            </p>
            <h3 class="testimonial-title">Kristina</h3>
            <span class="post">Web Developer</span>
            <i class="ti-quote-right"></i>
          </div>
          <div class="testimonial">
            <div class="pic">
              <img src="{% static 'assets/images/testimonial/2.jpg' %}" alt="">
            </div>
            <p class="description">
              " Lorem ipsum dolor sit amet, consectetur adipisicing
              elit. Autem commodi eligendi facilis itaque minus non odio quaerat "
            </p>
            <h3 class="testimonial-title">williamson</h3>
            <span class="post">Web Developer</span>
            <i class="ti-quote-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="blog" class="section_padding">
  <div class="container">
    <div class="section_heading text-center">
      <h2>Latest News</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque<br> pharetra ullamcorper luctus</p>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="single_blog">
          <div class="post_image">
            <img src="{% static 'assets/images/blog/1.jpg' %}" class="img-responsive" alt="" />
            <div class="post_date">March, 1 2018</div>
          </div>
          <div class="blog_post_content">
            <h4><a href="#">How to Increase Your App Downloads</a></h4>
            <ul class="blog_info">
              <li><i class="ti-user"></i> <a href="#">Admin</a></li>
              <li><i class="ti-link"></i> <a href="#">Category</a></li>
              <li><i class="ti-tag"></i> <a href="#">Tags</a></li>
            </ul>
            <p>
              Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the
              industry.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="single_blog">
          <div class="post_image">
            <img src="{% static 'assets/images/blog/2.jpg' %}" class="img-responsive" alt="" />
            <div class="post_date">March, 1 2018</div>
          </div>
          <div class="blog_post_content">
            <h4><a href="#">How to Increase Your App Downloads</a></h4>
            <ul class="blog_info">
              <li><i class="ti-user"></i> <a href="#">Admin</a></li>
              <li><i class="ti-link"></i> <a href="#">Category</a></li>
              <li><i class="ti-tag"></i> <a href="#">Tags</a></li>
            </ul>
            <p>
              Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the
              industry.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="single_blog">
          <div class="post_image">
            <img src="{% static 'assets/images/blog/3.jpg' %}" class="img-responsive" alt="" />
            <div class="post_date">March, 1 2018</div>
          </div>
          <div class="blog_post_content">
            <h4><a href="#">How to Increase Your App Downloads</a></h4>
            <ul class="blog_info">
              <li><i class="ti-user"></i> <a href="#">Admin</a></li>
              <li><i class="ti-link"></i> <a href="#">Category</a></li>
              <li><i class="ti-tag"></i> <a href="#">Tags</a></li>
            </ul>
            <p>
              Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the
              industry.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="faq" class="section_padding gray_section">
  <div class="container">
    <div class="section_heading text-center">
      <h2>Frequently Ask Question</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque<br> pharetra ullamcorper luctus</p>
    </div>
    <div class="row">
      <div class="col-md-6 hidden-sm hidden-xs">
        <img src="{% static 'assets/images/faq.png' %}" class="img-responsive" alt="faq image">
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="panel-group accor_padding_top" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  Where I can Download App?
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Praesent nisl lorem, dictum id pellentesque at, vestibulum
                  ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum
                  ac justo.
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                  href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  How I can Install App ?
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Praesent nisl lorem, dictum id pellentesque at, vestibulum
                  ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum
                  ac justo.
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                  href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  How I can Use?
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Praesent nisl lorem, dictum id pellentesque at, vestibulum
                  ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum
                  ac justo.
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingfour">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                  href="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                  How to Upgrade App?
                </a>
              </h4>
            </div>
            <div id="collapsefour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfour">
              <div class="panel-body">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Praesent nisl lorem, dictum id pellentesque at, vestibulum
                  ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum
                  ac justo.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block js %}
<script src="{% static 'assets/js/particles.min.js' %}"></script>
<script src="{% static 'assets/js/app.js' %}"></script>
<script src="{% static 'assets/js/jquery.counterup.js' %}"></script>
<script src="{% static 'assets/js/waypoints.min.js' %}"></script>
{% endblock %}
