{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block css %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
  integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
{% endblock %}
{% block content %}
<section id="slider_area" class="welcome-area">
  <div id="particles-js"></div>
  <div class="container">
    <div class="row" style="padding-top: 150px;">
      <div class="col-md-7 col-sm-12">
        <div class="single_slide_text">
          <h1 class="slider_title animated">SalesVizion creates and maps a clear Vizion for your sales opportunities.
          </h1>
          <p class="slider_subtitle animated">By graphically aligning your customers Key Business Initiatives as
            directed by the CEO to the business challenges experienced and the people/process/technology needed to
            acquire to achieve them.
            <br>Your product is a key enabler, let us show you how.
          </p>
        </div>
      </div>
      <div class="col-md-5 text-center hidden-sm hidden-xs">
        <div class="slider_image animated">
          <img src="{% static 'img/home/firstSection.png' %}" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<section id="about" class="section_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="single_about">
          <div class="about_icon">
            <img src="{% static 'img/home/aboutico1.png' %}" alt="">
          </div>
          <div class="sing_about_text">
            <i class="ti-vector"></i>
            <h3>Vizualize your Opportunity</h3>
            <p>See your account opportunity like never before</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="single_about">
          <div class="about_icon">
            <img src="{% static 'img/home/aboutico2.png' %}" alt="">
          </div>
          <div class="sing_about_text">
            <i class="ti-settings"></i>
            <h3>Map your solution</h3>
            <p>Create an understanding of the value your product</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="single_about">
          <div class="about_icon">
            <img src="{% static 'img/home/aboutico3.png' %}" alt="">
          </div>
          <div class="sing_about_text">
            <i class="ti-headphone-alt"></i>
            <h3>Align to Key Business Initiatives</h3>
            <p>Document your solution and prove the value it provides</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="coll_action_section" class="section_padding gray_section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-12">
        <div class="coll_action_text">
          <span class="cl_title">Get a Vizion</span>
          <h3>When you see what’s the value, you’ll win every time. </h3>
          <p>When you order a Vizion you will have everything you need to articulate the value proposition your customer
            is asking for from you.</p>
          <p>By visually aligning your customers Key Business Initiatives as directed by the CEO to the business
            challenges experienced and the people/process/technology needed to acquire to achieve them. </p>
        </div>
      </div>
      <div class="col-md-7 col-sm-12 hidden-xs">
        <img src="{% static 'img/home/homeSec3.png' %}" class="img-responsive" alt="Download Image">
      </div>
    </div>
  </div>
</section>


<section id="features" class="section_padding">
  <div class="container">
    <div class="section_heading text-center">
      <h2>Awesome Features</h2>
      <p>We call this a Vizion. A Vizion is an output via a web-based application that you can engage with to create,
        refine, and share your value proposition with your customer, your team, and your management. </p>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="single_feature">
          <div class="feature_icon">
            <i class="fas fa-route"></i>
          </div>
          <div class="sing_feature_text">
            <h3>Vizualize</h3>
            <div class="border_line"></div>
            <p>
              Lorem Ipsum is simply dummy text of the printing
              and typesetting industry. Lorem Ipsum has been the
              industry's
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="single_feature">
          <div class="feature_icon">
            <i class="fas fa-mountain"></i>
          </div>
          <div class="sing_feature_text">
            <h3>Map</h3>
            <div class="border_line"></div>
            <p>
              Lorem Ipsum is simply dummy text of the printing
              and typesetting industry. Lorem Ipsum has been the
              industry's
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="single_feature">
          <div class="feature_icon">
            <i class="fas fa-atlas"></i>
          </div>
          <div class="sing_feature_text">
            <h3>Align</h3>
            <div class="border_line"></div>
            <p>
              Lorem Ipsum is simply dummy text of the printing
              and typesetting industry. Lorem Ipsum has been the
              industry's
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="single_feature">
          <div class="feature_icon">
            <i class="fas fa-map-pin"></i>
          </div>
          <div class="sing_feature_text">
            <h3>Use for QBR</h3>
            <div class="border_line"></div>
            <p>
              Lorem Ipsum is simply dummy text of the printing
              and typesetting industry. Lorem Ipsum has been the
              industry's
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="single_feature">
          <div class="feature_icon">
            <i class="fas fa-map-marked-alt"></i>
          </div>
          <div class="sing_feature_text">
            <h3>Align to Key Decision Makers</h3>
            <div class="border_line"></div>
            <p>
              Lorem Ipsum is simply dummy text of the printing
              and typesetting industry. Lorem Ipsum has been the
              industry's
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="single_feature">
          <div class="feature_icon">
            <i class="fas fa-binoculars"></i>
          </div>
          <div class="sing_feature_text">
            <h3>Quantifi Value</h3>
            <div class="border_line"></div>
            <p>
              Lorem Ipsum is simply dummy text of the printing
              and typesetting industry. Lorem Ipsum has been the
              industry's
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="screenshots" class="section_padding gray_section">
  <div class="container">
    <div class="section_heading text-center">
      <h2>Vizion Examples...</h2>
      <p>A Vizion is a graphical representation of your opportunity and will <br>give you a unique insight into your
        customer’s objective and how your product can enable them.</p>
    </div>
    <div class="app_screens_slider">
      <div class="single_screenshot">
        <img src="{% static 'img/home/VizionExamples/first.png' %}" alt="" />
      </div>
      <div class="single_screenshot">
        <img src="{% static 'img/home/VizionExamples/second.png' %}" alt="" />
      </div>
      <div class="single_screenshot">
        <img src="{% static 'img/home/VizionExamples/third.png' %}" alt="" />
      </div>
      <div class="single_screenshot">
        <img src="{% static 'img/home/VizionExamples/third.png' %}" alt="" />
      </div>
      <div class="single_screenshot">
        <img src="{% static 'img/home/VizionExamples/third.png' %}" alt="" />
      </div>
      <div class="single_screenshot">
        <img src="{% static 'img/home/VizionExamples/third.png' %}" alt="" />
      </div>
    </div>
  </div>
</section>


<section id="promo_area" class="section_padding">
  <div class="container">
    <div class="section_heading text-center">
      <h2>How it works</h2>
      <p>A Vizion will be created for you by filling in the questionnaire and then populating your key stakeholders.</p>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12 hidden-xs text-center">
        <div class="promo_img">
          <img src="{% static 'assets/images/mobile.png' %}" class="img-responsive" alt="Mobile Image">
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="single_promo">
          <div class="promo_icon">
            <i class="ti-mobile"></i>
          </div>
          <div class="promo_details">
            <h3>Fill in the Questionnaire</h3>
            <p>
              Anim pariatur cliche reprehenderit,
              enim eiusmod high life accusamus terry
              richardson ad squid. 3 wolf moon officia
              aute, non cupidatat skateboard dolor
              brunch.
            </p>
          </div>
        </div>
        <div class="single_promo">
          <div class="promo_icon">
            <i class="ti-target"></i>
          </div>
          <div class="promo_details">
            <h3>ID your key stakeholders</h3>
            <p>
              Anim pariatur cliche reprehenderit,
              enim eiusmod high life accusamus terry
              richardson ad squid. 3 wolf moon officia
              aute, non cupidatat skateboard dolor
              brunch.
            </p>
          </div>
        </div>
        <div class="single_promo">
          <div class="promo_icon">
            <i class="ti-user"></i>
          </div>
          <div class="promo_details">
            <h3>Output will be a detailed Vizion</h3>
            <p>
              Anim pariatur cliche reprehenderit,
              enim eiusmod high life accusamus terry
              richardson ad squid. 3 wolf moon officia
              aute, non cupidatat skateboard dolor
              brunch.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="pricing_table" class="section_padding gray_section">
  <div class="container">
    <div class="section_heading text-center">
      <h2>Pricing Table</h2>
      <p>There are 3 options for becoming a member of SalesVizion.</p>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="pricingTable">
          <div class="price">
            <h3 class="heading">Standard</h3>
            <span class="price-value">$49</span>
            <!-- <span class="month">monthly</span> -->
          </div>
          <div class="pricingContent">
            <ul>
              <li><i class="ti-check"></i> Single Vizion</li>
            </ul>
          </div>
          <div class="pricingTable-signup">
            <a href="#" class="appbutton">Order Now</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="pricingTable">
          <div class="price">
            <h3 class="heading">Business</h3>
            <span class="price-value">$99</span>
            <!-- <span class="month">monthly</span> -->
          </div>
          <div class="pricingContent">
            <ul>
              <li><i class="ti-check"></i> Single Vizion with unlimited editing / updates</li>
            </ul>
          </div>
          <div class="pricingTable-signup">
            <a href="#" class="appbutton">Order Now</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="pricingTable">
          <div class="price">
            <h3 class="heading">Premium</h3>
            <span class="price-value">$599</span>
            <!-- <span class="month">monthly</span> -->
          </div>
          <div class="pricingContent">
            <ul>
              <li><i class="ti-check"></i> Unlimited Vizion access</li>
            </ul>
          </div>
          <div class="pricingTable-signup">
            <a href="#" class="appbutton">Order Now</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="pricingTable">
          <div class="price">
            <h3 class="heading">Platinum</h3>
            <span class="price-value">$999</span>
            <!-- <span class="month">monthly</span> -->
          </div>
          <div class="pricingContent">
            <ul>
              <li><i class="ti-check"></i> Become an unlimited member to SalesVizion.com</li>
            </ul>
          </div>
          <div class="pricingTable-signup">
            <a href="#" class="appbutton">Order Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="video_section section_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div data-video="NwkrgpjHOEA" id="video" class="video_area">
          <img src="{% static 'assets/images/video.png' %}" alt="Video Screenshot">
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="video_content text-left">
          <h3>Promo Video</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing
            elit. Sed vel blandit ante. Aliquam nulla lacus,
            lobortis sed diam in, ultricies sagittis lacus.
            In posuere porttitor erat, ut hendrerit enim egestas
            eu. Nunc id tellus eget enim euismod semper
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing
            elit. Sed vel blandit ante. Aliquam nulla lacus,
            lobortis sed diam in, ultricies .
          </p>
          <a href="#" class="appbutton">Watch Video</a>
        </div>
      </div>
    </div>
  </div>
</div>


<section id="app_review" class="section_padding gray_section">
  <div class="container">
    <div class="section_heading text-center">
      <h2>Our Clients Say</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque<br> pharetra ullamcorper luctus</p>
    </div>
    <div class="row text-center">
      <div class="col-sm-12">
        <div class="review_slider owl-carousel">
          <div class="testimonial">
            <div class="pic">
              <img src="{% static 'assets/images/testimonial/1.jpg' %}" alt="">
            </div>
            <p class="description">
              " Lorem ipsum dolor sit amet, consectetur adipisicing
              elit. Autem commodi eligendi facilis itaque minus non odio quaerat "
            </p>
            <h3 class="testimonial-title">williamson</h3>
            <span class="post">Web Developer</span>
            <i class="ti-quote-right"></i>
          </div>
          <div class="testimonial">
            <div class="pic">
              <img src="{% static 'assets/images/testimonial/2.jpg' %}" alt="">
            </div>
            <p class="description">
              " Lorem ipsum dolor sit amet, consectetur adipisicing
              elit. Autem commodi eligendi facilis itaque minus non odio quaerat "
            </p>
            <h3 class="testimonial-title">Kristina</h3>
            <span class="post">Web Developer</span>
            <i class="ti-quote-right"></i>
          </div>
          <div class="testimonial">
            <div class="pic">
              <img src="{% static 'assets/images/testimonial/3.jpg' %}" alt="">
            </div>
            <p class="description">
              " Lorem ipsum dolor sit amet, consectetur adipisicing
              elit. Autem commodi eligendi facilis itaque minus non odio quaerat "
            </p>
            <h3 class="testimonial-title">williamson</h3>
            <span class="post">Web Developer</span>
            <i class="ti-quote-right"></i>
          </div>
          <div class="testimonial">
            <div class="pic">
              <img src="{% static 'assets/images/testimonial/1.jpg' %}" alt="">
            </div>
            <p class="description">
              " Lorem ipsum dolor sit amet, consectetur adipisicing
              elit. Autem commodi eligendi facilis itaque minus non odio quaerat "
            </p>
            <h3 class="testimonial-title">Kristina</h3>
            <span class="post">Web Developer</span>
            <i class="ti-quote-right"></i>
          </div>
          <div class="testimonial">
            <div class="pic">
              <img src="{% static 'assets/images/testimonial/2.jpg' %}" alt="">
            </div>
            <p class="description">
              " Lorem ipsum dolor sit amet, consectetur adipisicing
              elit. Autem commodi eligendi facilis itaque minus non odio quaerat "
            </p>
            <h3 class="testimonial-title">williamson</h3>
            <span class="post">Web Developer</span>
            <i class="ti-quote-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="blog" class="section_padding">
  <div class="container">
    <div class="section_heading text-center">
      <h2>Latest News</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque<br> pharetra ullamcorper luctus</p>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="single_blog">
          <div class="post_image">
            <img src="{% static 'assets/images/blog/1.jpg' %}" class="img-responsive" alt="" />
            <div class="post_date">March, 1 2018</div>
          </div>
          <div class="blog_post_content">
            <h4><a href="#">How to Increase Your App Downloads</a></h4>
            <ul class="blog_info">
              <li><i class="ti-user"></i> <a href="#">Admin</a></li>
              <li><i class="ti-link"></i> <a href="#">Category</a></li>
              <li><i class="ti-tag"></i> <a href="#">Tags</a></li>
            </ul>
            <p>
              Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the
              industry.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="single_blog">
          <div class="post_image">
            <img src="{% static 'assets/images/blog/2.jpg' %}" class="img-responsive" alt="" />
            <div class="post_date">March, 1 2018</div>
          </div>
          <div class="blog_post_content">
            <h4><a href="#">How to Increase Your App Downloads</a></h4>
            <ul class="blog_info">
              <li><i class="ti-user"></i> <a href="#">Admin</a></li>
              <li><i class="ti-link"></i> <a href="#">Category</a></li>
              <li><i class="ti-tag"></i> <a href="#">Tags</a></li>
            </ul>
            <p>
              Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the
              industry.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="single_blog">
          <div class="post_image">
            <img src="{% static 'assets/images/blog/3.jpg' %}" class="img-responsive" alt="" />
            <div class="post_date">March, 1 2018</div>
          </div>
          <div class="blog_post_content">
            <h4><a href="#">How to Increase Your App Downloads</a></h4>
            <ul class="blog_info">
              <li><i class="ti-user"></i> <a href="#">Admin</a></li>
              <li><i class="ti-link"></i> <a href="#">Category</a></li>
              <li><i class="ti-tag"></i> <a href="#">Tags</a></li>
            </ul>
            <p>
              Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the
              industry.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="faq" class="section_padding gray_section">
  <div class="container">
    <div class="section_heading text-center">
      <h2>Frequently Ask Question</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque<br> pharetra ullamcorper luctus</p>
    </div>
    <div class="row">
      <div class="col-md-6 hidden-sm hidden-xs">
        <img src="{% static 'assets/images/faq.png' %}" class="img-responsive" alt="faq image">
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="panel-group accor_padding_top" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  Where I can Download App?
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Praesent nisl lorem, dictum id pellentesque at, vestibulum
                  ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum
                  ac justo.
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                  aria-expanded="false" aria-controls="collapseTwo">
                  How I can Install App ?
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Praesent nisl lorem, dictum id pellentesque at, vestibulum
                  ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum
                  ac justo.
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                  aria-expanded="false" aria-controls="collapseThree">
                  How I can Use?
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Praesent nisl lorem, dictum id pellentesque at, vestibulum
                  ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum
                  ac justo.
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingfour">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefour"
                  aria-expanded="false" aria-controls="collapsefour">
                  How to Upgrade App?
                </a>
              </h4>
            </div>
            <div id="collapsefour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfour">
              <div class="panel-body">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Praesent nisl lorem, dictum id pellentesque at, vestibulum
                  ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum
                  ac justo.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block js %}
<script src="{% static 'assets/js/particles.min.js' %}"></script>
<script src="{% static 'assets/js/app.js' %}"></script>
<script src="{% static 'assets/js/jquery.counterup.js' %}"></script>
<script src="{% static 'assets/js/waypoints.min.js' %}"></script>
{% endblock %}